---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/in/julien-brunel-26889b122/',

	},
	{
		title: 'Github',
		icon: 'mdi:github',
		href: 'https://github.com/YuliyaniB',

	},
	{
		title: 'Mail',
		icon: 'fluent:mail-28-regular',
		href: 'https://twitter.com/home',

	},
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		href: '../docs/cv_jhon_doe.pdf',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
	 gap: 2rem;
}

.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
		color: #0e76a8;
	}
	.Github:hover{
	color: #E1306C;
	}
	.Mail:hover{
	color: #0aa5f6;
	}
	.CV:hover{
		color:#8e64ff;
	}



</style>